  <!-- Carousel -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/carousel1.webp" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="~/images/carousel2.webp" class="d-block w-100" alt="Image 2">
            </div>
            <div class="carousel-item">
                <img src="~/images/carousel3.webp" class="d-block w-100" alt="Image 3">
            </div>
            <div class="carousel-item">
                <img src="~/images/carousel4.webp" class="d-block w-100" alt="Image 4">
            </div>
            <div class="carousel-item">
                <img src="~/images/carousel5.webp" class="d-block w-100" alt="Image 5">
            </div>
        </div>
        <button class="custom-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <i class="arrow left"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="custom-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <i class="arrow right"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>